.crmanagementpublicsection {
    margin: 16px;
    padding: 0;

    .formHeader {
        padding-top:5px;
    }

    h2 {
        line-height: 1em;
        margin-top: 0px;
        padding-bottom: 20px;
        color: black;
        font-weight: bold;
    }
}