@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.horizontalLayout {

  &__filterPanel {
    &__body {
        overflow: auto;

        &__headerIcon {
            text-align: right;
            margin-top: 5px;
        }

        &__allFiltersToggle {
            margin-top: 15px;
        }

        &__group {

            &__header {
                margin-top: 15px;
            }

            button {
                padding: 10px;
            }
        }

        :global .ms-Grid-row {
            margin: 0;
        }
    }
  }
}