@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
//
// These mixins and CSS classes are copy-pasted from @microsoft/sp-office-ui-fabric-core@1.6.0, which was the latest version to include them
// These represent a set of functionality which is no longer provided by SPFx in the newer versions
// Including them here is a workaround to still offer the theme color functionality while using newer versions of SPFx
// Having them here is a fix to override values that are included from a deprecated package (office-ui-fabric)
// This whole functionality has to be overhauled at some point
//
// Theme colors
@mixin ms-fontColor-themeDarker {
    color: $ms-color-themeDarker;
}

@mixin ms-fontColor-themeDark {
    color: $ms-color-themeDark;
}

@mixin ms-fontColor-themeDarkAlt {
    color: $ms-color-themeDarkAlt;
}

@mixin ms-fontColor-themePrimary {
    color: $ms-color-themePrimary;
}

@mixin ms-fontColor-themeSecondary {
    color: $ms-color-themeSecondary;
}

@mixin ms-fontColor-themeTertiary {
    color: $ms-color-themeTertiary;
}

@mixin ms-fontColor-themeLight {
    color: $ms-color-themeLight;
}

@mixin ms-fontColor-themeLighter {
    color: $ms-color-themeLighter;
}

@mixin ms-fontColor-themeLighterAlt {
    color: $ms-color-themeLighterAlt;
}

// Neutral colors
@mixin ms-fontColor-black {
    color: $ms-color-black;
}

@mixin ms-fontColor-neutralDark {
    color: $ms-color-neutralDark;
}

@mixin ms-fontColor-neutralPrimary {
    color: $ms-color-neutralPrimary;
}

@mixin ms-fontColor-neutralPrimaryAlt {
    color: $ms-color-neutralPrimaryAlt;
}

@mixin ms-fontColor-neutralSecondary {
    color: $ms-color-neutralSecondary;
}

@mixin ms-fontColor-neutralSecondaryAlt {
    color: $ms-color-neutralSecondaryAlt;
}

@mixin ms-fontColor-neutralTertiary {
    color: $ms-color-neutralTertiary;
}

@mixin ms-fontColor-neutralTertiaryAlt {
    color: $ms-color-neutralTertiaryAlt;
}

@mixin ms-fontColor-neutralQuaternary {
    color: $ms-color-neutralQuaternary;
}

@mixin ms-fontColor-neutralQuaternaryAlt {
    color: $ms-color-neutralQuaternaryAlt;
}

@mixin ms-fontColor-neutralLight {
    color: $ms-color-neutralLight;
}

@mixin ms-fontColor-neutralLighter {
    color: $ms-color-neutralLighter;
}

@mixin ms-fontColor-neutralLighterAlt {
    color: $ms-color-neutralLighterAlt;
}

@mixin ms-fontColor-white {
    color: $ms-color-white;
}

// Brand and accent colors
@mixin ms-fontColor-yellow {
    color: $ms-color-yellow;
}

@mixin ms-fontColor-yellowLight {
    color: $ms-color-yellowLight;
}

@mixin ms-fontColor-orange {
    color: $ms-color-orange;
}

@mixin ms-fontColor-orangeLight {
    color: $ms-color-orangeLight;
}

@mixin ms-fontColor-orangeLighter {
    color: $ms-color-orangeLighter;
}

@mixin ms-fontColor-redDark {
    color: $ms-color-redDark;
}

@mixin ms-fontColor-red {
    color: $ms-color-red;
}

@mixin ms-fontColor-magentaDark {
    color: $ms-color-magentaDark;
}

@mixin ms-fontColor-magenta {
    color: $ms-color-magenta;
}

@mixin ms-fontColor-magentaLight {
    color: $ms-color-magentaLight;
}

@mixin ms-fontColor-purpleDark {
    color: $ms-color-purpleDark;
}

@mixin ms-fontColor-purple {
    color: $ms-color-purple;
}

@mixin ms-fontColor-purpleLight {
    color: $ms-color-purpleLight;
}

@mixin ms-fontColor-blueDark {
    color: $ms-color-blueDark;
}

@mixin ms-fontColor-blueMid {
    color: $ms-color-blueMid;
}

@mixin ms-fontColor-blue {
    color: $ms-color-blue;
}

@mixin ms-fontColor-blueLight {
    color: $ms-color-blueLight;
}

@mixin ms-fontColor-tealDark {
    color: $ms-color-tealDark;
}

@mixin ms-fontColor-teal {
    color: $ms-color-teal;
}

@mixin ms-fontColor-tealLight {
    color: $ms-color-tealLight;
}

@mixin ms-fontColor-greenDark {
    color: $ms-color-greenDark;
}

@mixin ms-fontColor-green {
    color: $ms-color-green;
}

@mixin ms-fontColor-greenLight {
    color: $ms-color-greenLight;
}

// Message colors
@mixin ms-fontColor-info {
    color: $ms-color-info;
}

@mixin ms-fontColor-success {
    color: $ms-color-success;
}

@mixin ms-fontColor-alert {
    // @todo: Deprecated: Use ms-fontColor-severeWarning
    color: $ms-color-alert;
}

@mixin ms-fontColor-warning {
    color: $ms-color-warning;
}

@mixin ms-fontColor-severeWarning {
    color: $ms-color-severeWarning;
}

@mixin ms-fontColor-error {
    color: $ms-color-error;
}

// Theme colors
.ms-fontColor-themeDarker,
.ms-fontColor-themeDarker--hover:hover {
    @include ms-fontColor-themeDarker;
}

.ms-fontColor-themeDark,
.ms-fontColor-themeDark--hover:hover {
    @include ms-fontColor-themeDark;
}

.ms-fontColor-themeDarkAlt,
.ms-fontColor-themeDarkAlt--hover:hover {
    @include ms-fontColor-themeDarkAlt;
}

.ms-fontColor-themePrimary,
.ms-fontColor-themePrimary--hover:hover {
    @include ms-fontColor-themePrimary;
}

.ms-fontColor-themeSecondary,
.ms-fontColor-themeSecondary--hover:hover {
    @include ms-fontColor-themeSecondary;
}

.ms-fontColor-themeTertiary,
.ms-fontColor-themeTertiary--hover:hover {
    @include ms-fontColor-themeTertiary;
}

.ms-fontColor-themeLight,
.ms-fontColor-themeLight--hover:hover {
    @include ms-fontColor-themeLight;
}

.ms-fontColor-themeLighter,
.ms-fontColor-themeLighter--hover:hover {
    @include ms-fontColor-themeLighter;
}

.ms-fontColor-themeLighterAlt,
.ms-fontColor-themeLighterAlt--hover:hover {
    @include ms-fontColor-themeLighterAlt;
}

// Neutral colors
.ms-fontColor-black,
.ms-fontColor-black--hover:hover {
    @include ms-fontColor-black;
}

.ms-fontColor-neutralDark,
.ms-fontColor-neutralDark--hover:hover {
    @include ms-fontColor-neutralDark;
}

.ms-fontColor-neutralPrimary,
.ms-fontColor-neutralPrimary--hover:hover {
    @include ms-fontColor-neutralPrimary;
}

.ms-fontColor-neutralPrimaryAlt,
.ms-fontColor-neutralPrimaryAlt--hover:hover {
    @include ms-fontColor-neutralPrimaryAlt;
}

.ms-fontColor-neutralSecondary,
.ms-fontColor-neutralSecondary--hover:hover {
    @include ms-fontColor-neutralSecondary;
}

.ms-fontColor-neutralSecondaryAlt,
.ms-fontColor-neutralSecondaryAlt--hover:hover {
    @include ms-fontColor-neutralSecondaryAlt;
}

.ms-fontColor-neutralTertiary,
.ms-fontColor-neutralTertiary--hover:hover {
    @include ms-fontColor-neutralTertiary;
}

.ms-fontColor-neutralTertiaryAlt,
.ms-fontColor-neutralTertiaryAlt--hover:hover {
    @include ms-fontColor-neutralTertiaryAlt;
}

.ms-fontColor-neutralQuaternary,
.ms-fontColor-neutralQuaternary--hover:hover {
    @include ms-fontColor-neutralQuaternary;
}

.ms-fontColor-neutralQuaternaryAlt,
.ms-fontColor-neutralQuaternaryAlt--hover:hover {
    @include ms-fontColor-neutralQuaternaryAlt;
}

.ms-fontColor-neutralLight,
.ms-fontColor-neutralLight--hover:hover {
    @include ms-fontColor-neutralLight;
}

.ms-fontColor-neutralLighter,
.ms-fontColor-neutralLighter--hover:hover {
    @include ms-fontColor-neutralLighter;
}

.ms-fontColor-neutralLighterAlt,
.ms-fontColor-neutralLighterAlt--hover:hover {
    @include ms-fontColor-neutralLighterAlt;
}

.ms-fontColor-white,
.ms-fontColor-white--hover:hover {
    @include ms-fontColor-white;
}

// Brand and accent colors
.ms-fontColor-yellow,
.ms-fontColor-yellow--hover:hover {
    @include ms-fontColor-yellow;
}

.ms-fontColor-yellowLight,
.ms-fontColor-yellowLight--hover:hover {
    @include ms-fontColor-yellowLight;
}

.ms-fontColor-orange,
.ms-fontColor-orange--hover:hover {
    @include ms-fontColor-orange;
}

.ms-fontColor-orangeLight,
.ms-fontColor-orangeLight--hover:hover {
    @include ms-fontColor-orangeLight;
}

.ms-fontColor-orangeLighter,
.ms-fontColor-orangeLighter--hover:hover {
    @include ms-fontColor-orangeLighter;
}

.ms-fontColor-redDark,
.ms-fontColor-redDark--hover:hover {
    @include ms-fontColor-redDark;
}

.ms-fontColor-red,
.ms-fontColor-red--hover:hover {
    @include ms-fontColor-red;
}

.ms-fontColor-magentaDark,
.ms-fontColor-magentaDark--hover:hover {
    @include ms-fontColor-magentaDark;
}

.ms-fontColor-magenta,
.ms-fontColor-magenta--hover:hover {
    @include ms-fontColor-magenta;
}

.ms-fontColor-magentaLight,
.ms-fontColor-magentaLight--hover:hover {
    @include ms-fontColor-magentaLight;
}

.ms-fontColor-purpleDark,
.ms-fontColor-purpleDark--hover:hover {
    @include ms-fontColor-purpleDark;
}

.ms-fontColor-purple,
.ms-fontColor-purple--hover:hover {
    @include ms-fontColor-purple;
}

.ms-fontColor-purpleLight,
.ms-fontColor-purpleLight--hover:hover {
    @include ms-fontColor-purpleLight;
}

.ms-fontColor-blueDark,
.ms-fontColor-blueDark--hover:hover {
    @include ms-fontColor-blueDark;
}

.ms-fontColor-blueMid,
.ms-fontColor-blueMid--hover:hover {
    @include ms-fontColor-blueMid;
}

.ms-fontColor-blue,
.ms-fontColor-blue--hover:hover {
    @include ms-fontColor-blue;
}

.ms-fontColor-blueLight,
.ms-fontColor-blueLight--hover:hover {
    @include ms-fontColor-blueLight;
}

.ms-fontColor-tealDark,
.ms-fontColor-tealDark--hover:hover {
    @include ms-fontColor-tealDark;
}

.ms-fontColor-teal,
.ms-fontColor-teal--hover:hover {
    @include ms-fontColor-teal;
}

.ms-fontColor-tealLight,
.ms-fontColor-tealLight--hover:hover {
    @include ms-fontColor-tealLight;
}

.ms-fontColor-greenDark,
.ms-fontColor-greenDark--hover:hover {
    @include ms-fontColor-greenDark;
}

.ms-fontColor-green,
.ms-fontColor-green--hover:hover {
    @include ms-fontColor-green;
}

.ms-fontColor-greenLight,
.ms-fontColor-greenLight--hover:hover {
    @include ms-fontColor-greenLight;
}

// Message colors
.ms-fontColor-info,
.ms-fontColor-info--hover:hover {
    @include ms-fontColor-info;
}

.ms-fontColor-success,
.ms-fontColor-success--hover:hover {
    @include ms-fontColor-success;
}

.ms-fontColor-alert,
.ms-fontColor-alert--hover:hover {
    // Deprecated: Use ms-fontColor-severeWarning
    @include ms-fontColor-alert;
}

.ms-fontColor-warning,
.ms-fontColor-warning--hover:hover {
    @include ms-fontColor-warning;
}

.ms-fontColor-severeWarning,
.ms-fontColor-severeWarning--hover:hover {
    @include ms-fontColor-severeWarning;
}

.ms-fontColor-error,
.ms-fontColor-error--hover:hover {
    @include ms-fontColor-error;
}