.mychangerequest{
  margin: 0;  
  .page{
    .error{
      color: red;
    }
  }
  .createnewchangerequestbt{
    margin-bottom: 20px;
    float: right;
  }
  .primaryButtonArea
  {
    margin-top:18px;
  }
}