@import '~office-ui-fabric-react/dist/sass/Fabric.scss';

.verticalLayout {

    min-height: 35px;

    &__filterPanel {
        &__body {
            overflow: auto;
            
            &__headerIcon {
                text-align: right;
                margin-top: 5px;
                padding-left: 5px;
                padding-right: 10px;
            }

            &__removeAllFilters {
                padding-left: 25px;
                margin-top: 10px;
            }

            &__group {

                &__header {                    
                    display: flex;
                    align-items: center;                    
                }

                button {
                    padding: 10px;
                }

                &__item {
                    padding-left: 15px;
                    padding-top: 10px;
                }
            }

            :global .ms-Grid-row {
                margin: 0;
            }
        }
    }
}