.linkPanelLayout {

    &__buttonBar {
        overflow:auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        &__button {
            display: flex;
            align-items: baseline;
            
            button {
                height: 100%;
            }
        }
    }

    &__filterResultBtn {
        color: "[theme: themePrimary, default: #005a9e]";
    }

    &__selectedFilters {

        padding: 10px;

        label.filter {        
            display: inline-block;         
            margin-bottom: 5px;  
        }

        label.filter~label.filter:before {
            padding: 5px;
            content: "|";
        }

        i {
            margin-right: 5px;
            vertical-align: sub;
        }

        i:hover {
            color: "[theme: themePrimary, default: #005a9e]";
            cursor: pointer;
        }
    }
    
    &__filterPanel {
        &__body {
            overflow: auto;
            margin-left: 15px;
    
            &__headerIcon {
                text-align: right;
                margin-top: 5px;
                padding-left: 15px;
                padding-right: 10px;
            }
    
            &__removeAllFilters {
                padding: 15px;
            }
    
            &__group {
    
                &__header {
                    display: flex;
                    align-items: center;
                }
    
                button {
                    padding: 10px;
                }

                &__item {
                    padding-left: 15px;
                    padding-top: 10px;
                    padding-right: 15px;
                }
            }
    
            :global .ms-Grid-row {
                margin: 0;
            }
        }
      }
}