.template-modal {
  width: 70%;
  margin: 0 auto;

  & .template-header {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background: "[theme: themePrimary, default: #007cc5]";
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 28px;
    font-weight: 100;
    font-weight: 600;
    padding-left: 28px;
    min-height: 40px;

    & :global .ms-Button-flexContainer {
      color: white;

      &>i {
        color: white;
      }
    }
  }

  & .template-value {
    -webkit-box-flex: 4;
    -ms-flex: 4 4 auto;
    flex: 4 4 auto;
    padding: 5px 28px;
    overflow-y: auto;
    height: 500px;
    white-space: pre-wrap;
  }
}