.editMode {
  background-color: #f2f2f2;
  color: #ee1100;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.link-picker {
  & [role="navigation"] {
    width: 210px;
    min-height: 100%;
    padding-top: 60px;
    box-sizing: border-box;
    border-top: 40px solid #F4F4F4;
    border-right: 2px solid #F4F4F4;

    & a {
      width: 100%;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  & .source-type {
    height: 100%;
  }

  & .tabs {
    position: absolute;
    left: 250px;
    top: 0;
    right: 0;
    bottom: 0;

    &>div,
    & iframe {
      height: 100%;
      width: 100%;
      border: none;
    }

    & .link-insert {
      padding-left: 30px;
      box-sizing: border-box;
      border-top: 40px solid #F4F4F4;
      border-right: 2px solid #F4F4F4;

      & label:after {
        content: ' *';
        color: #a80000;
      }
    }

    & textarea {
      resize: none;
      line-height: 17px;
      overflow: auto;
      min-height: 60px;
      max-width: 639px;
      width: 100%;
      padding: 6px 12px 0 12px;
      border: solid 1px #C8C8C8;
      font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }

    & .buttons {
      position: absolute;
      bottom: 10px;
      right: 10px;

      & button {
        margin-right: 20px;
      }
    }
  }
}