@import '~office-ui-fabric-react/dist/sass/Fabric.scss';

.searchPagination {
    margin: 0;

    &__paginationContainer {
        text-align: center;        

        &__pagination {
            display: inline-block;
            text-align: center;

            ul {
                display: inline-block;
                padding-left: 0;
                margin: 0;
                border-radius: 4px;

                li {
                    display: inline;

                    a {
                        float: left;
                        color: "[theme: themePrimary, default: #005a9e]";
                        padding: 5px 10px;
                        text-decoration: none;
                        border-radius: 15px;
        
                        i {
                            font-size: 10px;
                            color: "[theme: themePrimary, default: #005a9e]";
                        }  
                    }

                    .active {
                        background-color: "[theme: themePrimary, default: #005a9e]";
                        color: white;
                    }
        
                    a:visited {
                        color: inherit;
                    }
                }
            }
        }
    }
}