.hubLinks {
    list-style-type: none;
    padding-left: 0px;
    color: "[theme:primaryText, default: #000000]";
    overflow: hidden;
    & a {
        color: white;
    }
    &.themed {
        & .faIcon {
            padding: 15px 3px 0 0;
            text-align: center;
            background-color: "[theme: themePrimary, default: #007cc5]";
            border-radius: 35px;
            font-size: 20px;
            color: #fff;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 5px;
            width: 50px;
            height: 50px;
            box-sizing: border-box;
            &::before {
                margin-left: 3px;
            }
        }
        & a {
            color: black;
            position: relative;
            &:visited {
                color: black;
            }
            & .text {
                left: 67px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                & p {
                    margin: 0;
                }
            }
            & .linktitle {
                font-size: 15px;
                display: block;
                font-weight: 600;
            }
        }
        & .linkdescription {
            font-size: 13px;
            max-height: 2.6em;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    & li {
        display: inline-block;
        margin-bottom: 15px;
        width: calc(50% - 26px);
        margin-right: 20px;
        min-height: 70px;
        vertical-align: top;
        position: relative;
        border: 1px solid transparent;
        &:hover {
            border: 1px solid #c8c8c8;
        }
        & .editControls {
            display: none;
            width: 42px;
            text-align: right;
            background-color: transparent;
            z-index: 1000000;
            float: right;
            margin-top: -51px;
            position: absolute;
            right: 0;
            top: 51px;
            &>button {
                min-width: 20px;
                width: 32px;
                height: 22px;
                padding: 0 5px;
                background-color: white;
                border-color: white;
            }
            &>i {
                color: #333333;
                padding: 5px;
                font-size: 12px;
                line-height: 14px;
                width: 22px;
                margin-left: 10px;
                text-align: center;
                cursor: move;
                background-color: white;
            }
            & :global .ms-Button.ms-Button--default :global .ms-Button-icon {
                line-height: 15px;
                height: 10px;
                &>i {
                    font-size: 12px;
                }
            }
        }
        &:hover .editControls {
            display: block;
        }
        &.emptyBox {
            background-color: #D9D9D9;
            padding: 10px 20px;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: bold;
            font-size: 18px;
            & div {
                width: 60%;
                height: 40px;
                line-height: 40px;
                vertical-align: middle;
                text-align: center;
                color: #fff;
                background-color: "[theme: themePrimary, default: #007cc5]";
                font-size: 14px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }
    &.edit li:hover {
        border: 1px solid #c8c8c8;
        padding-left: 7px;
    }
}

:global .CanvasSection-sm12.CanvasSection-xl4 {
    & :local .hubLinks {
        & :local li {
            width: calc(100% - 9px);
        }
    }
}

@media (max-width:767px) {
    .hubLinks {
        & li {
            width: 100%;
        }
    }
}

:global .CanvasSection-sm12.CanvasSection-xl4 {
    & :local .hubLinks {
        & :local li {
            width: calc(100% - 2px);
        }
    }
}

@media (max-width:767px) {
    .hubLinks {
        & li {
            width: 100%;
        }
    }
}