.resultContainer {
    li.resultItem {
        display: flex;
        margin: 20px 0;
        
        > div {
            margin: 0 15px;
            width:250px;
        }

        .coin {
            > div > div {
                margin: 0;
            }
            width: 48px;
            height: 75px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 15px;
            margin-right: 15px;
        }

        
        h3, p, a {
            font-weight: 400;
            font-family:"Segoe UI Web (West European)",Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        }
        p {
            margin: 5px 0;
            font-size: 12px;
            color: #666666;
        }
        h3{
            margin: 0;
            a {
                text-decoration: none;
                font-size: 20px;
                color: black;
                &:focus {
                    box-shadow: 0 0 0 3px #FFBD65;
                    outline: none;            
                }
            }
        }
        .mailContainer {
            margin-top: 18px;
        }
        div:last-child {
            margin-left: 30px;
        }
        >div>a {
            display: block;
            margin: 5px 0;
            text-decoration: none;
            font-size: 12px;
            i {
                margin-right: 5px;
            }
            &:focus {
                box-shadow: 0 0 0 3px #FFBD65;
                outline: none;            
            }
        }
    }
}