<style>
    /* Insert your CSS here */
</style>

<div class="template_root">
    <ul class="ms-List">
        {{#each items as |item|}}
            {{#> resultTypes}}
                {{!-- The block below will be used as default item template if no result types matched --}}
                <li class="ms-ListItem ms-ListItem--image" tabindex="0">
                    <span class="ms-ListItem-primaryText"><a href="{{getUrl item}}">{{Title}}</a></span>
                </li>
            {{/resultTypes}}
        {{/each}}
    </ul>
</div>