<content id="template">
    <style>
        /* Insert your CSS overrides here */
    </style>

    <div class="template_root">
        <ul class="template_defaultList">
            {{#each items as |item|}}
            <li class="template_listItem" tabindex="0">
                {{#> resultTypes item=item}}
                {{!-- The block below will be used as default item template if no result types matched --}}
                <div class="template_result">
                    <fabric-icon file-extension='{{IconExt}}' image-url='{{SiteLogo}}'></fabric-icon>
                    <div class="template_contentContainer">
                        <span class="template_title"><a href="{{getUrl item}}">{{Title}}</a></span>
                        <span>{{getSummary HitHighlightedSummary}}</span>
                        <span>{{getDate Created "LL"}}</span>
                        <div class="template_tags">
                            {{#if owstaxidmetadataalltagsinfo}}
                            <i class="ms-Icon ms-Icon--Tag" aria-hidden="true"></i>
                                {{#each (split owstaxidmetadataalltagsinfo ",") as |tag| }}
                                <a href="#owstaxidmetadataalltagsinfo:'{{trim tag}}'">{{tag}}</a>
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/resultTypes}}
            </li>
            {{/each}}
        </ul>
    </div>
</content>

<content id="placeholder">
    <style>
        /* Insert your CSS overrides here */
    </style>

    <div class="placeholder_root">
        <ul class="template_defaultList">
            {{#times maxResultsCount}}
            <li class="template_listItem" tabindex="0">
                <div class="template_result">
                    <div class="template_icon shimmer"></div>
                    <div class="template_contentContainer">
                        <span class="shimmer line" style="width: 60%"></span>
                        <span class="shimmer line" style="width: 100%"></span>
                        <span class="shimmer line" style="width: 100%"></span>
                        <span class="shimmer line" style="width: 35%"></span>
                        <span class="shimmer line" style="width: 20%"></span>
                    </div>
                </div>
    </div>
    <div class="template_previewContainer ms-hiddenSm">
        <div class="doc-container">
            <div class="img-container">
                <div class="shimmer img-preview" style="width: 120px;height: 70px;"></div>
            </div>
        </div>
    </div>
    </li>
    {{/times}}
    </ul>
    </div>
</content>