<content id="template">

    <style>
        /* Insert your CSS overrides here */
    </style>

    <div class="template_root">        
        {{#if showResultsCount}}
            <div class="template_resultCount">
                <label class="ms-fontWeight-semibold">{{getCountMessage totalRows keywords}}</label>
            </div>
        {{/if}}
        <details-list items="{{JSONstringify items}}" columns-configuration="{{JSONstringify detailsListColumns}}" show-file-icon="{{@root.showFileIcon}}" is-compact="{{@root.isCompact}}"></details-list>
    </div>
</content>

<content id="placeholder">
    <style>
        /* Insert your CSS overrides here */
    </style>

    <div class="placeholder_root">
        {{#if showResultsCount}}
            <div class="template_resultCount">
                <span class="shimmer line" style="width: 20%"></span>
            </div>
        {{/if}}
        <details-list columns-configuration="{{JSONstringify @root.detailsListColumns}}" show-file-icon="{{@root.showFileIcon}}" is-compact="{{@root.isCompact}}" show-shimmers="true"></details-list>
    </div>

</content>