<style>
.template_listItem {
    display:flex;
    display: -ms-flexbox;
    padding: 10px;
    justify-content: space-between;
}

.template_listItem img.img-preview  {
    width: 120px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}          

.template_result {
    display: flex;    
    display: -ms-flexbox;
}

.template_contentContainer {
    display: flex;
    width: 100%;
    display: -ms-flexbox;
    flex-direction: column;
    margin-right: 15px;
}

.template_previewContainer {
    align-items: flex-start;
    display: flex;
    display: -ms-flexbox;
}

.template_icon {
    height: 32px;
    margin-right: 15px;
}

.hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
}

.img-container {
    position: relative;
}

.img-container:hover img {
    opacity: 0.2;
}

.img-container:hover .hover {
    opacity: 1;
}

</style>
<div class="template_root">
    {{#if showResultsCount}}
        <div class="template_resultCount">
            <label class="ms-fontWeight-semibold">{{getCountMessage totalRows keywords}}</label>
        </div>
    {{/if}}
    {{#if promotedResults}}
        <ul class="ms-List template_defaultList template_promotedResults">
        <li class="ms-fontWeight-semibold title">{{strings.PromotedResultsLabel}}</li>
        {{#each promotedResults as |promotedResult|}}
            <li class="ms-ListItem-primaryText">
                <div>
                    <i class="ms-Icon ms-Icon--MiniLink" aria-hidden="true"></i>
                </div>
                <div>
                    <a class="ms-font-l" href="{{Url}}">{{Title}}</a>
                    <div class="ms-font-s">{{Description}}</div>
                </div>
            </li>
        {{/each}}
        </ul>
    {{/if}}
    <ul class="ms-List template_defaultList">
        {{#each items as |item|}}
            <li class="template_listItem" tabindex="0">
                {{#> resultTypes}}
                    {{!-- The block below will be used as default item template if no result types matched --}}
                    <div class="template_result">
                            <img class="template_icon" src="{{iconSrc}}"/>
                            <div class="template_contentContainer">
                                <span class=""><a href="{{getUrl item}}">{{Title}}</a></span>
                                <span class="">{{getSummary HitHighlightedSummary}}</span>
                                <span class=""><span>{{getDate Created "LL"}}</span></span>   
                                <div class="${templateStyles.tags}">
                                    {{#if owstaxidmetadataalltagsinfo}}
                                        <i class="ms-Icon ms-Icon--Tag" aria-hidden="true"></i>
                                        {{#each (split owstaxidmetadataalltagsinfo ",") as |tag| }}                                                    
                                            <a href="#owstaxidmetadataalltagsinfo:'{{trim tag}}'">{{tag}}</a>
                                        {{/each}}
                                    {{/if}}
                                </div>
                            </div>
                    </div>
                    <div class="template_previewContainer ms-hiddenSm">                           
                        {{#eq item.contentclass 'STS_ListItem_851'}}
                            <div class="video-container">
                                <div class="img-container">
                                    <img class="img-preview video-preview-item" src="{{PictureThumbnailURL}}" data-src="{{PictureThumbnailURL}}" data-url="{{DefaultEncodingURL}}" data-fileext="{{FileType}}"/>
                                    <div class="hover">
                                        <div class="${templateStyles.hoverIcon}"><i class="ms-Icon ms-Icon--Preview" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                            </div>
                        {{/eq}}                                
                        {{#eq item.contentclass 'STS_ListItem_DocumentLibrary'}}
                            {{#if ServerRedirectedPreviewURL}}
                                <div class="doc-container">
                                    <div class="img-container">
                                    {{#eq FileType 'pdf'}}
                                        <!-- Documents from OneDrive sites can't be viewed directly due to SAMEORIGIN iframe restrictions-->
                                        {{#contains Path '-my.sharepoint'}}
                                            <img class="document-preview-item img-preview" width="120" src="{{ServerRedirectedPreviewURL}}" data-src="{{ServerRedirectedPreviewURL}}" data-url="{{ServerRedirectedEmbedURL}}"/>
                                        {{else}}
                                            <img class="document-preview-item img-preview" width="120" src="{{ServerRedirectedPreviewURL}}" data-src="{{ServerRedirectedPreviewURL}}" data-url="{{Path}}"/>
                                        {{/contains}}
                                    {{else}}
                                        <img class="document-preview-item img-preview" width="120" src="{{ServerRedirectedPreviewURL}}" data-src="{{ServerRedirectedPreviewURL}}" data-url="{{ServerRedirectedEmbedURL}}"/>
                                    {{/eq}}
                                    <div class="hover">
                                        <div class="${templateStyles.hoverIcon}"><i class="ms-Icon ms-Icon--Preview" aria-hidden="true"></i></div>
                                    </div>
                                    </div>
                                </div>
                            {{/if}}
                        {{/eq}}
                    </div>
                {{/resultTypes}}
            </li>
        {{/each}}
    </ul>
</div>