<content id="template">

        <style>
            .personaCard {
                margin: 10px;
            }
        </style>
    
        <div class="template_root">
            <div class="template_defaultCard">
                {{#if showResultsCount}}
                <div class="template_resultCount">
                    <label class="ms-fontWeight-semibold">{{getCountMessage totalRows keywords}}</label>
                </div>
                {{/if}}
                <div class="document-card-container">
                    {{#each items as |item|}}
                    <div class="document-card-item">
                        {{#> resultTypes item=item}}
                            <div class="personaCard">
                                {{#with (split AccountName '|')}}
                                        <persona-card fields-configuration="{{JSONstringify ../../../peopleFields}}" item="{{JSONstringify item}}" persona-size="{{../../../personaSize}}" />
                                {{/with}}
                            </div>
                        {{/resultTypes}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </content>
        
    <content id="placeholder">   
        <div class="placeholder_root">
            <div class="template_defaultCard">
                {{#if showResultsCount}}
                    <div class="template_resultCount">
                        <span class="shimmer line" style="width: 20%"></span>
                    </div>
                {{/if}}
                <div class="document-card-container">
                    {{#times maxResultsCount}}
                        <div class="document-card-item">
                            <persona-card-shimmers persona-size="{{@root.personaSize}}"></persona-card-shimmers>
                        </div>
                    {{/times}}
                </div>
            </div>
        </div>
    </content>