<content id="template">

    <div class="template_root">
        <div class="template_defaultCard">
            {{#if showResultsCount}}
                <div class="template_resultCount">
                    <label class="ms-fontWeight-semibold">{{getCountMessage totalRows keywords}}</label>
                </div>
            {{/if}}
            <div class="ms-Grid"> 
                <div class="ms-Grid-row">
                {{#each items as |item|}}
                    <div class="ms-Grid-col ms-sm12 ms-md6 ms-lg4">
                        {{#> resultTypes styles=../styles}}
                            {{!-- The block below will be used as default item template if no result types matched --}}
                            <div tabindex="0" data-is-focusable="true" role="link" class="{{styles.documentCard.root}} {{styles.documentCard.pnpDocumentCard}}">
                                <div class="{{styles.documentCardPreview.root}} {{styles.documentCardPreview.pnpDocumentPreview}}">
                                   <div>
                                      <div class="{{styles.image.root}}" style="width: 318px; height: 196px;">
                                        {{#eq item.contentclass 'STS_ListItem_851'}}
                                            <img class="{{styles.image.image}} video-preview-item" src="{{getPreviewSrc this}}" data-src="{{PictureThumbnailURL}}" data-url="{{DefaultEncodingURL}}" data-fileext="{{FileType}}">
                                        {{else}}
                                            {{#eq FileType 'pdf'}}
                                            <!-- Documents from OneDrive sites can't be viewed directly due to SAMEORIGIN iframe restrictions-->
                                                {{#contains Path '-my.sharepoint'}}.
                                                    <img class="{{styles.image.image}} document-preview-item" src="{{getPreviewSrc this}}" data-src="{{ServerRedirectedPreviewURL}}" data-url="{{ServerRedirectedEmbedURL}}">
                                                {{else}}
                                                <img class="{{styles.image.image}} document-preview-item" src="{{getPreviewSrc this}}" data-src="{{ServerRedirectedPreviewURL}}" data-url="{{Path}}">
                                                {{/contains}}
                                            {{else}}
                                                <img class="{{styles.image.image}} document-preview-item" src="{{getPreviewSrc this}}" data-src="{{ServerRedirectedPreviewURL}}" data-url="{{ServerRedirectedEmbedURL}}">
                                            {{/eq}}  
                                         {{/eq}} 
                                     </div>
                                      <div class="{{styles.documentCardPreview.icon}}"><img class="{{styles.personaImage.root}}" src="{{IconSrc}}" role="presentation" alt=""></div>
                                   </div>
                                </div>
                                <div class="{{styles.documentCardTitle.root}}" title="{{Title}}">{{Title}}</div>
                                <div class="{{styles.documentCardActivity.root}}">
                                   <div class="{{styles.documentCardActivity.avatars}}">
                                      <div class="{{styles.documentCardActivity.avatar}}">
                                         <div role="presentation" size="11" class="{{styles.personaCoin.coin}}">
                                                 <div class="{{styles.personaCoin.imageArea}}" style="width: 32px; height: 32px;">
                                                 {{#with (split AuthorOWSUSER "|")}}		
                                                     <img class="{{../styles.personaCoin.image}}" src="/_layouts/15/userphoto.aspx?size=L&username={{[0]}}" alt="">
                                                 {{/with}}
                                                 </div>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="{{styles.documentCardActivity.details}}">
                                       <span class="{{styles.documentCardActivity.name}}">{{Author}}</span>
                                       <span class="{{styles.documentCardActivity.activity}}">{{getDate ModifiedOWSDATE 'LL'}}</span>
                                   </div>
                                   <div class="{{styles.documentCardActivity.pnpAdditionalCardDetails}}">
                                       <span class="{{styles.documentCardActivity.activity}}">
                                             {{#if owstaxidmetadataalltagsinfo}}
                                                 <i class="ms-Icon ms-Icon--Tag" aria-hidden="true"></i>
                                                 {{#each (split owstaxidmetadataalltagsinfo ",") as |tag| }}                                                        
                                                    <a href="#owstaxidmetadataalltagsinfo:'{{trim tag}}'">{{tag}}</a>                                                               
                                                 {{/each}}
                                             {{/if}}
                                       </span>	
                                   </div>
                                </div>
                            </div>
                        {{/resultTypes}}
                    </div>
                {{/each}}
                </div>
            </div>
        </div>
    </div>
</content>

<content id="placeholder">
        <style>
            .shimmerPrimaryText {
                width: 100%;
                position: relative;
                padding: 0;
                margin-top: 10px;
                height: 10px;
            }

            .shimmerSecondaryText {
                padding: 0;
                width: 75%;
                height: 10px;
            }

            .shimmerTertiaryText {
                padding: 0;
                width: 20%;
                height: 10px;
            }
        </style>
    
        <div class="placeholder_root">
            <div class="template_defaultCard">
                {{#if showResultsCount}}
                    <div class="template_resultCount">
                        <span class="shimmer line" style="width: 20%"></span>
                    </div>
                {{/if}}
                <div class="ms-Grid"> 
                        <div class="ms-Grid-row">
                        {{#times maxResultsCount}}
                            <div class="ms-Grid-col ms-sm12 ms-md6 ms-lg4">
                                <div tabindex="0" data-is-focusable="true" role="link" class="{{styles.documentCard.root}} {{styles.documentCard.pnpDocumentCard}}">
                                    <div class="{{styles.documentCardPreview.root}} {{styles.documentCardPreview.pnpDocumentPreview}}">
                                        <div class="{{styles.image.root}} shimmer" style="width: 318px; height: 196px;">
                                        </div>
                                    </div>
                                    <div class="{{styles.documentCardTitle.root}} shimmer line"></div>
                                    <div class="{{styles.documentCardActivity.root}}">
                                        <div class="{{styles.documentCardActivity.avatars}}">
                                            <div class="{{styles.documentCardActivity.avatar}}">
                                                <div role="presentation" size="11" class="{{styles.personaCoin.coin}}">
                                                        <div class="{{styles.personaCoin.imageArea}} shimmer" style="width: 32px; height: 32px;">
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="{{styles.documentCardActivity.details}}">
                                            <span class="{{styles.documentCardActivity.name}} shimmer line"></span>
                                            <span class="{{styles.documentCardActivity.activity}} shimmer line"></span>
                                        </div>
                                        <div class="{{styles.documentCardActivity.pnpAdditionalCardDetails}}">
                                            <span class="{{styles.documentCardActivity.activity}} shimmer line">
                                            </span>	
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/times}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </content>