<content id="template">
    <div class="template_root">
        <div class="template_defaultCard">
            {{#if showResultsCount}}
            <div class="template_resultCount">
                <label class="ms-fontWeight-semibold">{{getCountMessage totalRows keywords}}</label>
            </div>
            {{/if}}
            <div class="document-card-container">
                {{#each items as |item|}}
                <div class="document-card-item">
                    {{#> resultTypes item=item}}
                        {{!-- The block below will be used as default item template if no result types matched --}}
                        {{#eq item.contentclass 'STS_ListItem_851'}}
                            <video-card item="{{JSONstringify item}}" fields-configuration="{{JSONstringify @root.documentCardFields}}" enable-preview="{{@root.enablePreview}}" show-file-icon="{{@root.showFileIcon}}" is-compact="{{@root.isCompact}}"></video-card>
                        {{else}}
                            <document-card item="{{JSONstringify item}}" fields-configuration="{{JSONstringify @root.documentCardFields}}" enable-preview="{{@root.enablePreview}}" show-file-icon="{{@root.showFileIcon}}" is-compact="{{@root.isCompact}}"></document-card>
                        {{/eq}} 
                    {{/resultTypes}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</content>

<content id="placeholder">   
    <div class="placeholder_root">
        <div class="template_defaultCard">
            {{#if showResultsCount}}
                <div class="template_resultCount">
                    <span class="shimmer line" style="width: 20%"></span>
                </div>
            {{/if}}
            <div class="document-card-container"> 
                {{#times maxResultsCount}}
                    <div class="document-card-item">
                        <document-card-shimmers is-compact="{{@root.isCompact}}"></document-card-shimmers>
                    </div>
                {{/times}}
            </div>
        </div>
    </div>
</content>